*{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
--light: antiquewhite;
--font: Verdana, Geneva, Tahoma, sans-serif;
}


header{
border: 5px solid black;
background-image: url("./assets/header-image.jpg");
background-blend-mode: multiply;
}

h1{
    color: var(--light);
    font-size: 50px;
    font-family: var(--font);
    background-color: unset;
    text-align: left;
    font-style: italic;
    
}

nav{
    text-align: right;
    background-color: unset;
}

ul li{
    display: inline-block;
    margin-left: 5px;
    font-size: larger;
    background-color: unset;
}

a{
    color: black;
    background-color: unset;
    font-family: var(--font);
}

nav a:hover{
    color: blue;
}

h2{
    font-family: var(--font);
    font-style: italic;
}

article p{
    text-align: center;
    border: solid black;
}